build/
*.bc
fs_profile.txt
fs_globals.txt
mapped_conflicts.txt
bench/sharedArray
bench/sharedStruct
bench/basicGlobals
bench/locks
bench/basicLocks
bench/*prof
src/*prof*
src/*.out
.vscode/
pin/detect/detect
pin/detect/*.out
!pin/detect/pinatrace_sample.out
*.out
*.interferences
!pin/detect/pinatrace_sample.out.cacheline64.interferences
*.swp
.DS_Store
